$bg-color: #ffc038;
$text: #363636;
$title: #252525;
$litle-text: #868686;
$first-pack: #a5a5a5;
$second-pack: #f26c4f;

// font-family: 'Open Sans', sans-serif;
// font-family: 'Roboto', sans-serif;
// font-family: 'Source Sans Pro', sans-serif;